<div class="banner">
	<div class="banner-content">
		<h1>Salut salut</h1>
		<p>Wahou c'est trop bien ce site</p>

		<a href="#" class="button">Découvre ici pourquoi</a>




	</div>
</div>


	<div class="cards">
		<div class="card">
			<div class="card-avatar">
				<%= image_tag "img_avatar.png", :class => "avatar_large"%>
			</div>
			<div class="card-name">
				John Doe 
			</div>
			<div class="card-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos enim possimus illo ex quia. Porro commodi voluptates quaerat accusamus assumenda vitae velit omnis. Unde, fugit mollitia consequatur quia odit sequi.
			</div>
		</div>
		<div class="card">
			<div class="card-avatar">
				<%= image_tag "img_avatar.png", :class => "avatar_large"%>
			</div>
			<div class="card-name">
				John Doe 
			</div>
			<div class="card-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos enim possimus illo ex quia. Porro commodi voluptates quaerat accusamus assumenda vitae velit omnis. Unde, fugit mollitia consequatur quia odit sequi.
			</div>
		</div>
		<div class="card">
			<div class="card-avatar">
				<%= image_tag "img_avatar.png", :class => "avatar_large"%>
			</div>
			<div class="card-name">
				John Doe 
			</div>
			<div class="card-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos enim possimus illo ex quia. Porro commodi voluptates quaerat accusamus assumenda vitae velit omnis. Unde, fugit mollitia consequatur quia odit sequi.
			</div>
		</div>

	</div>
