<div class="banner">
	<div class="banner-content">
		<h1>Salut salut</h1>
		<p>Wahou c'est trop bien ce site</p>

		<a href="#" class="button">Découvre ici pourquoi</a>




	</div>
</div>
<div class= "center">
	<h2> Nos chatons de compet</h2>
</div>
	<div class="cards">

		<div class="card">
			<div class="card-avatar">
				<%= image_tag "chaton1.jpg", :class => "avatar_cards"%>
			</div>
			<div class="card-name">
				John Doe 
			</div>
			<div class="card-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos enim possimus illo ex quia. Porro commodi voluptates quaerat accusamus assumenda vitae velit omnis. Unde, fugit mollitia consequatur quia odit sequi.
			</div>
		</div>
		<div class="card">
			<div class="card-avatar">
				<%= image_tag "chaton2.jpg", :class => "avatar_cards"%>
			</div>
			<div class="card-name">
				John Doe 
			</div>
			<div class="card-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos enim possimus illo ex quia. Porro commodi voluptates quaerat accusamus assumenda vitae velit omnis. Unde, fugit mollitia consequatur quia odit sequi.
			</div>
		</div>
		<div class="card">
			<div class="card-avatar">
				<%= image_tag "chaton3.jpg", :class => "avatar_cards"%>
			</div>
			<div class="card-name">
				John Doe 
			</div>
			<div class="card-description">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos enim possimus illo ex quia. Porro commodi voluptates quaerat accusamus assumenda vitae velit omnis. Unde, fugit mollitia consequatur quia odit sequi.
			</div>
		</div>
    
	</div>
<div class="center">
	<a href="#" class="button">Tu veux voir les autres ?</a>
</div>
