// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.banner{
	
	height: 90vh;
	display: flex;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(-225deg, rgba(10,10,30,0.6) 30%, rgba(46,46,46,0.5) 80%), url(back.jpg);
	background-size: cover;
}

.banner-content{

	display: flex;
	flex-direction: column;
    align-items: center;
    font-family: Roboto;
    color: white;
}

.cards{
	width: 80%;
	margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	/*align-items: center;*/
}
